# o que for posto aqui, não será enviado para o repositório remoto (github,gitlab,etc)

# Node modules (dependências do projeto, pastas criada ao rodar "npm-install")
# pasta muito grande, não faz sentido enviar para o repositório (dependências são listadas na pasta)

node_modules/
.env 